<!DOCTYPE html>
<html>
  <head>
    <title>Pierre's ADMIN PAGE</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>VENDOR TRACKER</h1>
    <p>CREATE VENDOR NAME</p>
    <p>DELIVERY DATE NEEDED BY</p>
    <p>PASTRY ORDER</p>
    <p>UNITS OF PASTRY ORDERED</p>
    <p>UNITS OF BREAD ORDERED</p>
    <p></p>
    <p>Travel Enthusiast Jane</p>
  </body>
</html>