@{
  Layout = "_Layout";
}


<h1>Welcome to the Bakery Admin</h1>
<h3 class="btn btn-default btn-dark btn-lg"><a href='/vendors'>View Vendors</a></h3>
  <h3 class="btn btn-default btn-dark btn-lg"><a href='/vendors/new'>Add a new Vendor</a></h3